[Desktop Entry]
Name=Zen Browser
Exec=/home/cheeze/Applications/zen/zen
Icon=web-browser
Type=Application
Categories=Network;WebBrowser;
Terminal=false
