# Build results
result
result-*

# Private configs
# /nix/*/private.nix
# **/private.nix

# Backup files
*.bak
*~

# Ignore everything in share except tracked folders
/share/*
!/share/sddm/
!/share/applications/
!/share/fonts/

# Ignore OS files and caches
*.swp
*.swo
*.swn
*~
.cache/

# Ignore everything in config except tracked folders
/.config/*
!/.config/hypr/
!/.config/rofi/
!/.config/eww/
!/.config/end/
!/.config/waybar/
