# Build results
result
result-*

# Backup files
*.bak
*~

# Ignore everything in share except tracked folders
/share/*
!/share/sddm/
!/share/fonts/

# Ignore OS files and caches
*.swp
*.swo
*.swn
*~
.cache/

# Ignore everything in config except tracked folders
/.config/*
!/.config/hypr/
!/.config/rofi/
!/.config/noctalia/

# Do not copy the hardware config
./nix/modules/hosts/hardware/hardware.nix
./nix/modules/hosts/*
