@import 'colors'

$bgcolor: rgba(0, 0, 0, 0.6);

* {
  all: unset;
}

.end-default-notification-box {
  background: $bgcolor;
  padding: 10px;
  margin: 12px;
  border-radius: 10px;
}

.notification-text {
  color: $end-default-fg;   
  font-family: 'JetBrainsMono Nerd Font', monospace, sans-serif;
  font-size: 15px;
}

.notification-title {
  font-weight: bold;
  font-size: 1.2em;
  color: $end-default-fg;
}

.notification-content {
  font-size: 1em;
  color: cyan;
}

.content-box {
  // margin-left: 12px;
}

.battery-icon {
  color: $red;
  font-size: 2.1em;
  margin-right: 48px;
  margin-left: 24px;
}
