# DO NOT TOUCH THIS FILE
{ self, inputs, ... }: {
    flake.nixosModules.${HOSTNAME}Configuration = { pkgs, lib, ... }: {
        networking.hostName = "${HOSTNAME}";

        machine.type = "${MACHINE}";

        secureboot.enable = ${SECUREBOOT};

        gpu.type = "${GPU}";

        powerMode.type = "${POWERMODE}";

        autoLogin.enable = ${AUTOLOGIN};

        system.stateVersion = "25.05";
    };
}
