{ self, inputs, ... }:
{
    flake.nixosConfigurations.${HOSTNAME} = inputs.nixpkgs.lib.nixosSystem {
        modules = [
            inputs.lanzaboote.nixosModules.lanzaboote
            self.nixosModules.hardwareMod
            self.nixosModules.optMod
            self.nixosModules.${HOSTNAME}Configuration
            self.nixosModules.systemMod
            self.nixosModules.featuresMod
            self.nixosModules.dev
            self.nixosModules.userMod
        ];
    };
}
